* {
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background: #e3edf7;
  height: 100vh;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.outer {
  height: 700px;
  width: 700px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding: 30px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 640px;
  width: 640px;
  padding: 50px;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 6px;
  stroke-dasharray: 415;
  stroke-dashoffset: 415;
  animation: anim 2s linear forwards;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 0;
  }
}

@media (max-width: 600px) {
  .outer {
    height: 500px;
    width: 500px;
  }
  .inner {
    height: 440px;
    width: 440px;
  }
}
